/Data
/ShinyApp/__pycache__
/ShinyApp/bin
/ShinyApp/lib/python3.12/site-packages
/ShinyApp/rsconnect-python
/ShinyApp/lib64
/ShinyApp/openai test.py
/ShinyApp/test.py
/ShinyApp/asker_kart.html
/ShinyApp/pyvenv.cfg
rsconnect